<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>FavPal: The PayPal of favors</title>
  </head>
  <body>
    <div align="center">
    <%=image_tag("FavPal-small-logo.png",:border=>0)%>
    <br />
    <br />
    <%= link_to "Log in", :controller=>"sessions", :action=>"new" %>
    </div>
  </body>
</html>
