<h1 class="title">Invite a new user</h1>
<%= error_messages_for :abitant %>
<% form_tag abitants_path do |f| -%>

<p><label for="email">Email</label><br/>
<%= text_field_tag :email %></p>

<p><label for="amount">Amount of favs:</label><br/>
<%= text_field_tag :amount %></p>

<p><%= submit_tag 'Invite & Thank' %></p>
<% end -%>
